<section class="row">
	<h1>Welcome to Editors &amp; Writers</h1>	
</section>

- DC-themed<br/>
- "A met B recently"<br/>
- Review for random user<br/>
- Review for platform <br/>

<hr/>
<section class="container">
	<h2>Sign in/log in</h2>	
	<br/>
	<%= link_to "Enter", new_member_path %>	
</section>
