<h1>Welcome to Editors & Writers</h1><br/>
- DC-themed<br/>
- "A met B recently"<br/>
- Review for random user<br/>
- Review for platform <br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h1>Sign up</h1>	

<%= link_to "Sign up", new_member_path %>