<hr/> 
<% provide(:title, "Edit profile") %>
<section class="row">
	<h1>All the info you can edit and MORE!</h1>	
</section>

<section class="container row">
	<%= render "shared/members/edit" %>
</section>