<h1>Some Info</h1><br/>
- Marvel-themed<br/>
- About E&W<br/>
- Instructions<br/>
---FAQ<br/>
<br />
<% if @member.id %>
<hr/>
<%= link_to "The Noosphere", members_path %> - 
<%= link_to "Your profile", member_path %>
<% end %>
<hr/>
<h1>Help page</h1>
<div>
  w <-> e: no <br/>
  w <-> e: yes <br/>
  w <-> e: recommendations <br/>
</div>
<div>
  <p>Here, writers are paired off with editors. Short stories are shared. Only logged in users can see entries from other members. Only writers can see editors, and editors can see other writers.</p>
  <p>We highly suggest that allmembers be supportive of each others' works. It takes guts to be a Creator and this is to be respected on this platform, no matter what.</p>
  <p>We also encourage everyone to leave feedback for all projects worked on together, so we can grow as creators and professionals in this industry.</p>
</div>
<div>
  <p>User profile #1:</p>
  <p>Writer needed editing assistance for a piece they are submitting for an award. Oh, and btw... they won!</p>
</div>
<div>
  <p>User profile #2:</p>
  <p>Writer loves writing the stories that show their love for comics. But they have dyslexia and lacks the resources to find help with their writing.</p>
</div>
<div>
  <p>There is no exchange of contact information without your approval! All you have to do is ask (for assistance) through this platform and you shall receive.</p>
</div>


<div>
  Features coming soon: <br/>
  - A Forum <br/>
  - A chat box with video capability<br/>
  - Quote of the Day <br/>
  - Uploading of files to share
</div>
