<hr/>
<% provide(:title, "Your profile") %>
<section class="row">
	<h1>Members Page</h1>
</section>
<hr/>
<section class="container">
	<section class="row">
		- Classic-themed (Archie?)

		<div id="videoChat">
			<p>Video chat/IM in lower lefthand corner</p>
		</div>	

		<hr/>
		<%= render "shared/members/member_data" %>
	</section>

	<section class="row">
		<hr/>
		<%= render 'shared/ratings/rating_review' %>
	</section>
	<img id="temp_ziggeo_chatbox" src="https://cdn.thinglink.me/api/image/727816182358343680/1240/10/scaletowidth" alt="Chat box" title="Chat box" />

</section>