 	<section class="row">
		<h1>Members Page</h1>
	</section>
	<hr/>
	<section class="container">
		<section class="row">
			- Classic-themed (Archie?)

			<div id="videoChat">
				<p>Video chat/IM in lower lefthand corner</p>
			</div>	

			<hr/>
			<%= render "member_data" %>
		</section>

		<section class="row">
			<hr/>
			<h2>Ratings</h2> 
			<% if @member.ratings %>
				<%= render @member.ratings %>
			<% else %>
				<p>No ratings yet</p>
			<% end %>
			<br/>
			<%= render 'ratings/form' %>
		</section>
	</section>