<h1>Sign up or log in to the EWniverse</h1>
- Vertigo-themed<br/>
- Two forms: <br/>
--- Register <br/>
--- Log in<br/>
- Popup for NDA signing after every signup AND login <br/><br/>

<h2>Sign up</h2>
<%= render "signup" %>
<hr/>
<h2>Log in</h2>
<%= render "login" %>